body {
    /**
      ADD YOUR CUSTOM STYLING HERE. (INSIDE THE body {...} section.)
      IT WILL TAKE PRECEDENCE OVER THE STYLING IN THE STYLE.CSS FILE.
   */
    --font-text-theme: -apple-system, BlinkMacSystemFont, "PingFang SC", "Hiragino Sans GB", "Noto Sans CJK SC", "Microsoft YaHei UI", "Microsoft YaHei", sans-serif;
    --font-interface-theme: -apple-system, BlinkMacSystemFont, "PingFang SC", "Hiragino Sans GB", "Noto Sans CJK SC", "Microsoft YaHei UI", "Microsoft YaHei", sans-serif;
    font-family: var(--font-text-theme);
}

body,
button,
input,
textarea,
select {
    font-family: var(--font-interface-theme);
}

.content {
    letter-spacing: 0.01em;
    line-height: 1.62;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-text-theme);
    font-weight: 600;
}
